# Practical 11: Docker Environment Configuration
PORT=5001
MONGO_URI=mongodb://mongodb:27017/taskdb_docker
JWT_SECRET=your_jwt_secret_key_docker_here
JWT_EXPIRE=1h
CACHE_ENABLED=true
NODE_ENV=production
VITE_API_URL=http://localhost:5001
